In [32]:
import pandas as pd
from pathlib import Path
import json

In [6]:
src_file = Path.cwd()/'Quarterly median rents by local government area - June quarter 2021.xlsx'
src_file

WindowsPath('C:/Users/GAYAN VGT/Documents/Learning/DataDisca/Analysis-and-Visualisation-Basics/Quarterly median rents by local government area - June quarter 2021.xlsx')

### Perform necessary handling to import the dataset into a pandas dataframe

In [79]:
df_dict = pd.read_excel(src_file, header=[1,2], index_col=[0,1], sheet_name=None)
df_dict

{'1br flat':                                   Jun 1999        Sep 1999        Dec 1999  \
 LGA                                  Count Median    Count Median    Count
 Barwon South West Colac-Otway            6     68        6     75        7
 NaN               Corangamite            -      -        5     60        -
                   Glenelg                7     65        -      -       13
                   Greater Geelong      202     80      205     80      200
                   Moyne                  -      -        -      -        -
 ...                                    ...    ...      ...    ...      ...
 Table Total       Victoria            4339    120     4578    125     4475
                   Victoria             NaN    NaN      NaN    NaN      NaN
 METRO NON-METRO   Metro               3580    130     3893    135     3743
                   Non-Metro            759     80      685     80      732
                   Victoria            4339    120     4578    125     4475

                                          Mar 2000        Jun 2000         ...  \
 LGA                               Median    Count Median    Count Median  ...
 Barwon South West Colac-Otway         80        6     80       12     75  ...
 NaN               Corangamite          -        -      -        -      -  ...
                   Glenelg             70        8     80        9     74  ...
                   Greater Geelong     80      255     85      185     85  ...
                   Moyne                -        -      -        -      -  ...
 ...                                  ...      ...    ...      ...    ...  ...
 Table Total       Victoria           130     5419    130     4579    132  ...
                   Victoria           NaN      NaN    NaN      NaN    NaN  ...
 METRO NON-METRO   Metro              135     4513    140     3877    140  ...
                   Non-Metro           80      906     80      702     80  ...
                   Victoria           130     5419    130     4579    132  ...

                                   Jun 2020        Sep 2020        Dec 2020  \
 LGA                                  Count Median    Count Median    Count
 Barwon South West Colac-Otway            9    230        4    225       10
 NaN               Corangamite            2    195        3    225        3
                   Glenelg                9    200        4    175        6
                   Greater Geelong      136    252      140    250      144
                   Moyne                  -      -        -      -        -
 ...                                    ...    ...      ...    ...      ...
 Table Total       Victoria            7749    350     8808    340    10067
                   Victoria             NaN    NaN      NaN    NaN      NaN
 METRO NON-METRO   Metro               7205    350     8284    345     9526
                   Non-Metro            544    205      524    210      541
                   Victoria            7749    350     8808    340    10067

                                          Mar 2021        Jun 2021
 LGA                               Median    Count Median    Count Median
 Barwon South West Colac-Otway        223        9    230       11    230
 NaN               Corangamite        225        0      .        0      .
                   Glenelg            180        3    350        8    235
                   Greater Geelong    250      156    265      102    250
                   Moyne                -        -      -        -      -
 ...                                  ...      ...    ...      ...    ...
 Table Total       Victoria           320    13292    310    10407    300
                   Victoria           NaN      NaN    NaN      NaN    NaN
 METRO NON-METRO   Metro              320    12759    319     9943    310
                   Non-Metro          215      533    220      464    220
                   Victoria           320    13292    310    10407    300

 [92 rows x 178 columns],
 '2br Flat':                                   Jun 1999        Sep 1999        Dec 1999  \
 LGA                                  Count Median    Count Median    Count
 Barwon South West Colac-Otway           18    110       14    110       12
 NaN               Corangamite            -      -        -      -        -
                   Glenelg               20    100       26     93       25
                   Greater Geelong      387    125      350    130      388
                   Moyne                  -      -        -      -        -
 ...                                    ...    ...      ...    ...      ...
 Table Total       Victoria            9974    150    10252    150    10328
                   Victoria             NaN    NaN      NaN    NaN      NaN
 METRO NON-METRO   Metro               7817    160     8141    165     8130
                   Non-Metro           2157    120     2111    120     2198
                   Victoria            9974    150    10252    150    10328

                                          Mar 2000        Jun 2000         ...  \
 LGA                               Median    Count Median    Count Median  ...
 Barwon South West Colac-Otway        110       20    110       19    110  ...
 NaN               Corangamite          -        6    113        5    110  ...
                   Glenelg            100       37     95       28    100  ...
                   Greater Geelong    130      415    130      351    130  ...
                   Moyne                -        5    110        -      -  ...
 ...                                  ...      ...    ...      ...    ...  ...
 Table Total       Victoria           150    12575    160     9888    160  ...
                   Victoria           NaN      NaN    NaN      NaN    NaN  ...
 METRO NON-METRO   Metro              165     9840    175     7846    170  ...
                   Non-Metro          120     2735    120     2042    120  ...
                   Victoria           150    12575    160     9888    160  ...

                                   Jun 2020        Sep 2020        Dec 2020  \
 LGA                                  Count Median    Count Median    Count
 Barwon South West Colac-Otway            9    280       16    293       16
 NaN               Corangamite            7    220        7    240        4
                   Glenelg               21    250       22    260       10
                   Greater Geelong      283    320      357    330      346
                   Moyne                  -      -        -      -        -
 ...                                    ...    ...      ...    ...      ...
 Table Total       Victoria           12621    400    13835    400    17189
                   Victoria             NaN    NaN      NaN    NaN      NaN
 METRO NON-METRO   Metro              11224    420    12316    418    15784
                   Non-Metro           1397    270     1519    270     1405
                   Victoria           12621    400    13835    400    17189

                                          Mar 2021        Jun 2021
 LGA                               Median    Count Median    Count Median
 Barwon South West Colac-Otway        258        8    285       16    260
 NaN               Corangamite        245       10    250        5    260
                   Glenelg            268       24    300       16    270
                   Greater Geelong    340      347    340      253    340
                   Moyne                -        -      -        -      -
 ...                                  ...      ...    ...      ...    ...
 Table Total       Victoria           400    21723    400    17369    385
                   Victoria           NaN      NaN    NaN      NaN    NaN
 METRO NON-METRO   Metro              400    20204    400    16100    390
                   Non-Metro          280     1519    290     1269    290
                   Victoria           400    21723    400    17369    385

 [92 rows x 178 columns],
 '3br Flat':                                   Jun 1999        Sep 1999        Dec 1999  \
 LGA                                  Count Median    Count Median    Count
 Barwon South West Colac-Otway            -      -        -      -        -
 NaN               Corangamite            -      -        -      -        -
                   Glenelg                -      -        -      -        -
                   Greater Geelong       24    140       34    150       39
                   Moyne                  -      -        -      -        -
 ...                                    ...    ...      ...    ...      ...
 Table Total       Victoria            1860    200     1963    210     2056
                   Victoria             NaN    NaN      NaN    NaN      NaN
 METRO NON-METRO   Metro               1668    210     1767    220     1827
                   Non-Metro            192    147      196    145      229
                   Victoria            1860    200     1963    210     2056

                                          Mar 2000        Jun 2000         ...  \
 LGA                               Median    Count Median    Count Median  ...
 Barwon South West Colac-Otway          -        -      -        -      -  ...
 NaN               Corangamite          -        -      -        -      -  ...
                   Glenelg              -        -      -        -      -  ...
                   Greater Geelong    180       29    180       36    150  ...
                   Moyne                -        -      -        -      -  ...
 ...                                  ...      ...    ...      ...    ...  ...
 Table Total       Victoria           210     2461    220     1922    210  ...
                   Victoria           NaN      NaN    NaN      NaN    NaN  ...
 METRO NON-METRO   Metro              220     2192    228     1717    220  ...
                   Non-Metro          150      269    150      205    150  ...
                   Victoria           210     2461    220     1922    210  ...

                                   Jun 2020        Sep 2020        Dec 2020  \
 LGA                                  Count Median    Count Median    Count
 Barwon South West Colac-Otway            4    300        3    415        9
 NaN               Corangamite            -      -        -      -        -
                   Glenelg                -      -        -      -        -
                   Greater Geelong       98    380      125    390      147
                   Moyne                  -      -        -      -        -
 ...                                    ...    ...      ...    ...      ...
 Table Total       Victoria            3215    450     3177    460     4425
                   Victoria             NaN    NaN      NaN    NaN      NaN
 METRO NON-METRO   Metro               2803    465     2723    490     3862
                   Non-Metro            412    340      454    350      563
                   Victoria            3215    450     3177    460     4425

                                          Mar 2021        Jun 2021
 LGA                               Median    Count Median    Count Median
 Barwon South West Colac-Otway        400        7    415        5    380
 NaN               Corangamite          -        -      -        -      -
                   Glenelg              -        -      -        -      -
                   Greater Geelong    400      129    400      133    420
                   Moyne                -        -      -        -      -
 ...                                  ...      ...    ...      ...    ...
 Table Total       Victoria           450     5182    480     4249    460
                   Victoria           NaN      NaN    NaN      NaN    NaN
 METRO NON-METRO   Metro              480     4701    499     3822    480
                   Non-Metro          350      481    360      427    375
                   Victoria           450     5182    480     4249    460

 [92 rows x 178 columns],
 '2br House':                                   Jun 1999        Sep 1999        Dec 1999  \
 LGA                                  Count Median    Count Median    Count
 Barwon South West Colac-Otway           20    110       13    110       14
 NaN               Corangamite            -      -        5     90        9
                   Glenelg               16    100       20    100       14
                   Greater Geelong      116    130      118    135      133
                   Moyne                  8    125        9    110       11
 ...                                    ...    ...      ...    ...      ...
 Table Total       Victoria            2899    165     3130    170     3023
                   Victoria             NaN    NaN      NaN    NaN      NaN
 METRO NON-METRO   Metro               2070    190     2279    200     2174
                   Non-Metro            829    120      851    120      849
                   Victoria            2899    165     3130    170     3023

                                          Mar 2000        Jun 2000         ...  \
 LGA                               Median    Count Median    Count Median  ...
 Barwon South West Colac-Otway        110       14    110       11    120  ...
 NaN               Corangamite         90        6     95        -      -  ...
                   Glenelg             90       16     90       18     90  ...
                   Greater Geelong    140      139    135      131    140  ...
                   Moyne              120       11    130       11    110  ...
 ...                                  ...      ...    ...      ...    ...  ...
 Table Total       Victoria           170     3625    175     2972    175  ...
                   Victoria           NaN      NaN    NaN      NaN    NaN  ...
 METRO NON-METRO   Metro              200     2638    205     2115    200  ...
                   Non-Metro          120      987    120      857    125  ...
                   Victoria           170     3625    175     2972    175  ...

                                   Jun 2020        Sep 2020        Dec 2020  \
 LGA                                  Count Median    Count Median    Count
 Barwon South West Colac-Otway           11    310       10    290       18
 NaN               Corangamite            6    240        6    263        8
                   Glenelg               13    280       11    250       10
                   Greater Geelong      149    340      154    333      140
                   Moyne                  8    265        6    310        6
 ...                                    ...    ...      ...    ...      ...
 Table Total       Victoria            2889    375     2656    380     2667
                   Victoria             NaN    NaN      NaN    NaN      NaN
 METRO NON-METRO   Metro               2004    420     1767    445     1953
                   Non-Metro            885    280      889    290      714
                   Victoria            2889    375     2656    380     2667

                                          Mar 2021        Jun 2021
 LGA                               Median    Count Median    Count Median
 Barwon South West Colac-Otway        287       11    320        7    295
 NaN               Corangamite        258        5    270        5    290
                   Glenelg            305       12    275       12    345
                   Greater Geelong    343      167    350      131    360
                   Moyne              330        5    350        3    320
 ...                                  ...      ...    ...      ...    ...
 Table Total       Victoria           400     2943    400     2217    395
                   Victoria           NaN      NaN    NaN      NaN    NaN
 METRO NON-METRO   Metro              470     2183    465     1606    440
                   Non-Metro          300      760    300      611    320
                   Victoria           400     2943    400     2217    395

 [92 rows x 178 columns],
 '3br House':                                   Jun 1999        Sep 1999        Dec 1999  \
 LGA                                  Count Median    Count Median    Count
 Barwon South West Colac-Otway         52.0  120.0     42.0  123.0       40
 NaN               Corangamite         23.0  100.0     24.0  100.0       26
                   Glenelg             69.0  115.0     55.0  110.0       57
                   Greater Geelong    557.0  150.0    528.0  150.0      564
                   Moyne               21.0  135.0     21.0  130.0       23
 ...                                    ...    ...      ...    ...      ...
 Table Total       Victoria          9998.0  165.0  10406.0  165.0    10285
                   Victoria             NaN    NaN      NaN    NaN      NaN
 METRO NON-METRO   Metro             6388.0  180.0   6782.0  180.0     6710
                   Non-Metro         3610.0  139.0   3624.0  140.0     3575
                   Victoria          9998.0  165.0  10406.0  165.0    10285

                                          Mar 2000        Jun 2000         ...  \
 LGA                               Median    Count Median    Count Median  ...
 Barwon South West Colac-Otway        120       52    123       44    130  ...
 NaN               Corangamite        110       28    100       27    110  ...
                   Glenelg            120       62    118       57    120  ...
                   Greater Geelong    155      564    155      544    155  ...
                   Moyne              130       32    120       18    133  ...
 ...                                  ...      ...    ...      ...    ...  ...
 Table Total       Victoria           170    11697    170    10130    170  ...
                   Victoria           NaN      NaN    NaN      NaN    NaN  ...
 METRO NON-METRO   Metro              185     7566    190     6690    185  ...
                   Non-Metro          140     4131    140     3440    145  ...
                   Victoria           170    11697    170    10130    170  ...

                                   Jun 2020        Sep 2020        Dec 2020  \
 LGA                                  Count Median    Count Median    Count
 Barwon South West Colac-Otway           39    340       83    340       45
 NaN               Corangamite           28    283       51    290       24
                   Glenelg               41    310       33    320       39
                   Greater Geelong      746    370      846    375      774
                   Moyne                 22    315       26    350       21
 ...                                    ...    ...      ...    ...      ...
 Table Total       Victoria           12882    380    12272    380    12721
                   Victoria             NaN    NaN      NaN    NaN      NaN
 METRO NON-METRO   Metro               8744    400     8011    400     8982
                   Non-Metro           4138    330     4261    340     3739
                   Victoria           12882    380    12272    380    12721

                                          Mar 2021        Jun 2021
 LGA                               Median    Count Median    Count Median
 Barwon South West Colac-Otway        345       45    350       44    355
 NaN               Corangamite        300       28    320       17    290
                   Glenelg            350       37    350       43    340
                   Greater Geelong    380      710    400      634    410
                   Moyne              400       29    350       13    390
 ...                                  ...      ...    ...      ...    ...
 Table Total       Victoria           390    13547    395    11720    395
                   Victoria           NaN      NaN    NaN      NaN    NaN
 METRO NON-METRO   Metro              400     9721    410     8204    410
                   Non-Metro          350     3826    360     3516    365

In [17]:
excel_sheet_list = list(df_dict.keys())
excel_sheet_list

['1br flat',
 '2br Flat',
 '3br Flat',
 '2br House',
 '3br House',
 '4br House',
 'All Properties']

In [53]:
isinstance(df_dict['All Properties'].index, pd.MultiIndex)
# type(df_dict['All Properties'])

True

In [54]:
df1 = df_dict['All Properties']
df1

                                  Jun 1999        Sep 1999        Dec 1999  \
LGA                                  Count Median    Count Median    Count
Barwon South West Colac-Otway        100.0  114.0     78.0  115.0     81.0
NaN               Corangamite         35.0   90.0     45.0   90.0     47.0
                  Glenelg            124.0  110.0    119.0  100.0    120.0
                  Greater Geelong   1371.0  135.0   1326.0  135.0   1406.0
                  Moyne               43.0  130.0     38.0  120.0     45.0
...                                    ...    ...      ...    ...      ...
Table Total       Victoria         31033.0  160.0  32385.0  160.0  32254.0
                  Victoria             NaN    NaN      NaN    NaN      NaN
METRO NON-METRO   Metro            22849.0  170.0  24284.0  175.0  24027.0
                  Non-Metro         8184.0  125.0   8101.0  130.0   8227.0
                  Victoria         31033.0  160.0  32385.0  160.0  32254.0

                                         Mar 2000        Jun 2000         ...  \
LGA                               Median    Count Median    Count Median  ...
Barwon South West Colac-Otway      115.0     97.0  115.0     91.0  120.0  ...
NaN               Corangamite      100.0     50.0  100.0     40.0  103.0  ...
                  Glenelg          100.0    141.0  105.0    129.0  110.0  ...
                  Greater Geelong  140.0   1510.0  140.0   1316.0  140.0  ...
                  Moyne            120.0     58.0  120.0     42.0  120.0  ...
...                                  ...      ...    ...      ...    ...  ...
Table Total       Victoria         165.0  38248.0  170.0  31387.0  170.0  ...
                  Victoria           NaN      NaN    NaN      NaN    NaN  ...
METRO NON-METRO   Metro            180.0  28442.0  180.0  23581.0  180.0  ...
                  Non-Metro        130.0   9806.0  130.0   7806.0  130.0  ...
                  Victoria         165.0  38248.0  170.0  31387.0  170.0  ...

                                  Jun 2020        Sep 2020        Dec 2020  \
LGA                                  Count Median    Count Median    Count
Barwon South West Colac-Otway         87.0  320.0    130.0  335.0    112.0
NaN               Corangamite         57.0  270.0     76.0  280.0     52.0
                  Glenelg             98.0  290.0     88.0  300.0     75.0
                  Greater Geelong   1811.0  370.0   2063.0  375.0   1970.0
                  Moyne               50.0  300.0     45.0  320.0     41.0
...                                    ...    ...      ...    ...      ...
Table Total       Victoria         47088.0  390.0  48411.0  390.0  55017.0
                  Victoria             NaN    NaN      NaN    NaN      NaN
METRO NON-METRO   Metro            37673.0  400.0  38604.0  400.0  46084.0
                  Non-Metro         9415.0  330.0   9807.0  340.0   8933.0
                  Victoria         47088.0  390.0  48411.0  390.0  55017.0

                                         Mar 2021        Jun 2021
LGA                               Median    Count Median    Count Median
Barwon South West Colac-Otway      328.0     89.0  340.0     92.0  325.0
NaN               Corangamite      290.0     59.0  320.0     30.0  283.0
                  Glenelg          320.0     86.0  335.0     97.0  330.0
                  Greater Geelong  380.0   1940.0  398.0   1636.0  400.0
                  Moyne            370.0     50.0  355.0     21.0  380.0
...                                  ...      ...    ...      ...    ...
Table Total       Victoria         390.0  65229.0  390.0  53258.0  385.0
                  Victoria           NaN      NaN    NaN      NaN    NaN
METRO NON-METRO   Metro            400.0  56088.0  395.0  45130.0  390.0
                  Non-Metro        350.0   9141.0  350.0   8128.0  360.0
                  Victoria         390.0  65229.0  390.0  53258.0  385.0

[92 rows x 178 columns]

In [58]:
df1_new = df1.stack(0).rename_axis(('Region', 'LGA', 'Quater')).reset_index()
print(df1_new.columns)
print(df1_new.shape)
df1_new.head(15)

Index(['Region', 'LGA', 'Quater', 'Count', 'Median'], dtype='object', name='LGA')
(8099, 5)

LGA             Region          LGA    Quater  Count Median
0    Barwon South West  Colac-Otway  Dec 1999   81.0  115.0
1    Barwon South West  Colac-Otway  Dec 2000   69.0  120.0
2    Barwon South West  Colac-Otway  Dec 2001   72.0  130.0
3    Barwon South West  Colac-Otway  Dec 2002   99.0  150.0
4    Barwon South West  Colac-Otway  Dec 2003    109    160
5    Barwon South West  Colac-Otway  Dec 2004  103.0  165.0
6    Barwon South West  Colac-Otway  Dec 2005     83    180
7    Barwon South West  Colac-Otway  Dec 2006   95.0  175.0
8    Barwon South West  Colac-Otway  Dec 2007   91.0  185.0
9    Barwon South West  Colac-Otway  Dec 2008    113    200
10   Barwon South West  Colac-Otway  Dec 2009  111.0  210.0
11   Barwon South West  Colac-Otway  Dec 2010  117.0  205.0
12   Barwon South West  Colac-Otway  Dec 2011  126.0  230.0
13   Barwon South West  Colac-Otway  Dec 2012  122.0  248.0
14   Barwon South West  Colac-Otway  Dec 2013  143.0  250.0

In [77]:
# Stack columns of data frame to make it single indexed
def stack_df(df):
    df_new = df.stack(0).rename_axis(('Region', 'LGA', 'Quater')).reset_index()
    print(df_new.columns)
    print(df_new.shape)
    print(df_new.head(15))
    return df_new

In [80]:
stacked_df_dict = {k:stack_df(v) for k,v in df_dict.items()}

Index(['Region', 'LGA', 'Quater', 'Count', 'Median'], dtype='object', name='LGA')
(8099, 5)
LGA             Region          LGA    Quater Count Median
0    Barwon South West  Colac-Otway  Dec 1999     7     80
1    Barwon South West  Colac-Otway  Dec 2000     6     83
2    Barwon South West  Colac-Otway  Dec 2001     6     95
3    Barwon South West  Colac-Otway  Dec 2002    10    100
4    Barwon South West  Colac-Otway  Dec 2003     5    115
5    Barwon South West  Colac-Otway  Dec 2004     8    105
6    Barwon South West  Colac-Otway  Dec 2005     9    125
7    Barwon South West  Colac-Otway  Dec 2006     -      -
8    Barwon South West  Colac-Otway  Dec 2007     9    140
9    Barwon South West  Colac-Otway  Dec 2008     5    150
10   Barwon South West  Colac-Otway  Dec 2009     6    165
11   Barwon South West  Colac-Otway  Dec 2010    14    150
12   Barwon South West  Colac-Otway  Dec 2011     9    150
13   Barwon South West  Colac-Otway  Dec 2012     7    185
14   Barwon South West  Colac-Otway  Dec 2013    11    180
Index(['Region', 'LGA', 'Quater', 'Count', 'Median'], dtype='object', name='LGA')
(8099, 5)
LGA             Region          LGA    Quater Count Median
0    Barwon South West  Colac-Otway  Dec 1999    12    110
1    Barwon South West  Colac-Otway  Dec 2000    14    118
2    Barwon South West  Colac-Otway  Dec 2001    14    115
3    Barwon South West  Colac-Otway  Dec 2002    18    130
4    Barwon South West  Colac-Otway  Dec 2003    15    135
5    Barwon South West  Colac-Otway  Dec 2004    17    140
6    Barwon South West  Colac-Otway  Dec 2005     8    153
7    Barwon South West  Colac-Otway  Dec 2006    20    153
8    Barwon South West  Colac-Otway  Dec 2007    17    170
9    Barwon South West  Colac-Otway  Dec 2008    20    165
10   Barwon South West  Colac-Otway  Dec 2009    22    185
11   Barwon South West  Colac-Otway  Dec 2010    18    190
12   Barwon South West  Colac-Otway  Dec 2011    14    190
13   Barwon South West  Colac-Otway  Dec 2012    25    225
14   Barwon South West  Colac-Otway  Dec 2013    18    208
Index(['Region', 'LGA', 'Quater', 'Count', 'Median'], dtype='object', name='LGA')
(8099, 5)
LGA             Region          LGA    Quater Count Median
0    Barwon South West  Colac-Otway  Dec 1999     -      -
1    Barwon South West  Colac-Otway  Dec 2000     -      -
2    Barwon South West  Colac-Otway  Dec 2001     -      -
3    Barwon South West  Colac-Otway  Dec 2002     6    185
4    Barwon South West  Colac-Otway  Dec 2003     5    200
5    Barwon South West  Colac-Otway  Dec 2004     5    170
6    Barwon South West  Colac-Otway  Dec 2005     -      -
7    Barwon South West  Colac-Otway  Dec 2006     -      -
8    Barwon South West  Colac-Otway  Dec 2007     -      -
9    Barwon South West  Colac-Otway  Dec 2008     6    230
10   Barwon South West  Colac-Otway  Dec 2009     -      -
11   Barwon South West  Colac-Otway  Dec 2010     6    250
12   Barwon South West  Colac-Otway  Dec 2011     -      -
13   Barwon South West  Colac-Otway  Dec 2012     -      -
14   Barwon South West  Colac-Otway  Dec 2013     -      -
Index(['Region', 'LGA', 'Quater', 'Count', 'Median'], dtype='object', name='LGA')
(8099, 5)
LGA             Region          LGA    Quater Count Median
0    Barwon South West  Colac-Otway  Dec 1999    14    110
1    Barwon South West  Colac-Otway  Dec 2000    10    115
2    Barwon South West  Colac-Otway  Dec 2001     8    130
3    Barwon South West  Colac-Otway  Dec 2002    13    135
4    Barwon South West  Colac-Otway  Dec 2003    19    155
5    Barwon South West  Colac-Otway  Dec 2004    15    155
6    Barwon South West  Colac-Otway  Dec 2005    11    170
7    Barwon South West  Colac-Otway  Dec 2006    19    170
8    Barwon South West  Colac-Otway  Dec 2007    13    180
9    Barwon South West  Colac-Otway  Dec 2008    19    190
10   Barwon South West  Colac-Otway  Dec 2009    15    200
11   Barwon South West  Colac-Otway  Dec 2010    22    210
12   Barwon South West  Colac-Otway  Dec 2011    19    220
13   Barwon South West  Colac-Otway  Dec 2012    17    230
14   Barwon South West  Colac-Otway  Dec 2013    17    230
Index(['Region', 'LGA', 'Quater', 'Count', 'Median'], dtype='object', name='LGA')
(8099, 5)
LGA             Region          LGA    Quater Count Median
0    Barwon South West  Colac-Otway  Dec 1999    40    120
1    Barwon South West  Colac-Otway  Dec 2000    32    130
2    Barwon South West  Colac-Otway  Dec 2001    36    133
3    Barwon South West  Colac-Otway  Dec 2002    48    160
4    Barwon South West  Colac-Otway  Dec 2003    60    173
5    Barwon South West  Colac-Otway  Dec 2004    52    180
6    Barwon South West  Colac-Otway  Dec 2005    47    180
7    Barwon South West  Colac-Otway  Dec 2006    44    185
8    Barwon South West  Colac-Otway  Dec 2007    44    200
9    Barwon South West  Colac-Otway  Dec 2008    53    220
10   Barwon South West  Colac-Otway  Dec 2009    60    220
11   Barwon South West  Colac-Otway  Dec 2010    51    225
12   Barwon South West  Colac-Otway  Dec 2011    66    250
13   Barwon South West  Colac-Otway  Dec 2012    58    255
14   Barwon South West  Colac-Otway  Dec 2013    89    270
Index(['Region', 'LGA', 'Quater', 'Count', 'Median'], dtype='object', name='LGA')
(8099, 5)
LGA             Region          LGA    Quater Count Median
0    Barwon South West  Colac-Otway  Dec 1999     5    140
1    Barwon South West  Colac-Otway  Dec 2000     -      -
2    Barwon South West  Colac-Otway  Dec 2001     8    183
3    Barwon South West  Colac-Otway  Dec 2002     -      -
4    Barwon South West  Colac-Otway  Dec 2003     5    165
5    Barwon South West  Colac-Otway  Dec 2004     6    175
6    Barwon South West  Colac-Otway  Dec 2005     5    200
7    Barwon South West  Colac-Otway  Dec 2006     8    180
8    Barwon South West  Colac-Otway  Dec 2007     7    170
9    Barwon South West  Colac-Otway  Dec 2008    10    255
10   Barwon South West  Colac-Otway  Dec 2009     5    250
11   Barwon South West  Colac-Otway  Dec 2010     6    260
12   Barwon South West  Colac-Otway  Dec 2011    15    270
13   Barwon South West  Colac-Otway  Dec 2012    13    280
14   Barwon South West  Colac-Otway  Dec 2013     6    360
Index(['Region', 'LGA', 'Quater', 'Count', 'Median'], dtype='object', name='LGA')
(8099, 5)
LGA             Region          LGA    Quater  Count Median
0    Barwon South West  Colac-Otway  Dec 1999   81.0  115.0
1    Barwon South West  Colac-Otway  Dec 2000   69.0  120.0
2    Barwon South West  Colac-Otway  Dec 2001   72.0  130.0
3    Barwon South West  Colac-Otway  Dec 2002   99.0  150.0
4    Barwon South West  Colac-Otway  Dec 2003    109    160
5    Barwon South West  Colac-Otway  Dec 2004  103.0  165.0
6    Barwon South West  Colac-Otway  Dec 2005     83    180
7    Barwon South West  Colac-Otway  Dec 2006   95.0  175.0
8    Barwon South West  Colac-Otway  Dec 2007   91.0  185.0
9    Barwon South West  Colac-Otway  Dec 2008    113    200
10   Barwon South West  Colac-Otway  Dec 2009  111.0  210.0
11   Barwon South West  Colac-Otway  Dec 2010  117.0  205.0
12   Barwon South West  Colac-Otway  Dec 2011  126.0  230.0
13   Barwon South West  Colac-Otway  Dec 2012  122.0  248.0
14   Barwon South West  Colac-Otway  Dec 2013  143.0  250.0

In [65]:
df1_new.describe(include='all')

LGA                   Region          LGA    Quater   Count  Median
count                   7298         8099      8099  8099.0    8099
unique                    10           83        89  2508.0     259
top     North and West Metro  Group Total  Dec 1999     8.0     200
freq                    1335          712        91    43.0     309

In [64]:
df1_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8099 entries, 0 to 8098
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Region  7298 non-null   object
 1   LGA     8099 non-null   object
 2   Quater  8099 non-null   object
 3   Count   8099 non-null   object
 4   Median  8099 non-null   object
dtypes: object(5)
memory usage: 316.5+ KB

In [66]:
df1_new.isnull().sum()

LGA
Region    801
LGA         0
Quater      0
Count       0
Median      0
dtype: int64

In [74]:
df1_new['Count'] = pd.to_numeric(df1_new['Count'], errors='coerce')
df1_new['Count'].dtype
print(df1_new['Count'].max())
print(df1_new['Count'].min())

65229.0
3.0

In [75]:
df1_new['Median'] = pd.to_numeric(df1_new['Median'], errors='coerce')
df1_new['Median'].dtype
print(df1_new['Median'].max())
print(df1_new['Median'].min())

595.0
70.0

In [61]:
set(df1_new.Region.to_list())

{'Barwon South West',
 'Eastern Metro',
 'Gippsland',
 'Grampians',
 'Hume',
 'Loddon Mallee',
 'METRO NON-METRO',
 'North and West Metro',
 'Southern Metro',
 'Table Total',
 nan}

In [46]:
# df1_new['Count.1'].isnull().sum()

7917

In [51]:
# df1_new[~df1_new['Count.1'].isnull()].describe()

LGA,Region,LGA,Quater,Count,Count.1,Median,Median.1
count,82,91,91,91.0,91,91.0,91
unique,10,83,1,86.0,83,30.0,36
top,North and West Metro,Group Total,Dec 2003,44.0,112,150.0,160
freq,15,8,91,2.0,3,12.0,10

### Save the extracted dataset in .csv and .json formats

In [81]:
# Write to csv
for sheet in excel_sheet_list:
    print(f"Saving '{sheet}' dataset as")
    csv_file = Path.cwd()/f"{sheet}.csv"
    print(csv_file)
    stacked_df_dict[sheet].to_csv(path_or_buf=csv_file)

Saving '1br flat' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\1br flat.csv
Saving '2br Flat' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\2br Flat.csv
Saving '3br Flat' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\3br Flat.csv
Saving '2br House' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\2br House.csv
Saving '3br House' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\3br House.csv
Saving '4br House' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\4br House.csv
Saving 'All Properties' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\All Properties.csv

In [82]:
# Write to json
for sheet in excel_sheet_list:
    print(f"Saving '{sheet}' dataset as")
    json_file = Path.cwd()/f"{sheet}.json"
    print(json_file)
    d = stacked_df_dict[sheet].to_dict()
    with open(json_file, 'w') as f:
        f.write(json.dumps(d, indent=4))

Saving '1br flat' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\1br flat.json
<class 'dict'>
Saving '2br Flat' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\2br Flat.json
<class 'dict'>
Saving '3br Flat' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\3br Flat.json
<class 'dict'>
Saving '2br House' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\2br House.json
<class 'dict'>
Saving '3br House' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\3br House.json
<class 'dict'>
Saving '4br House' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\4br House.json
<class 'dict'>
Saving 'All Properties' dataset as
C:\Users\GAYAN VGT\Documents\Learning\DataDisca\Analysis-and-Visualisation-Basics\All Properties.json
<class 'dict'>